In [25]:
#Average Salary Excluding the Minimum and Maximum Salary
#solution 1
class Solution(object):
    def average(self, salary):
        maxi=salary.index(max(salary))#find index of maximum value
        salary.pop(maxi)#remove maximum value
        mini=salary.index(min(salary)) #find index of minimum value
        salary.pop(mini)#remove the minimum value
        length=len(salary)#find length of salary
        s=sum(salary) #sum the salary & store in variable
        return s/float(length) #return the average
        
        
        
obj=Solution()
salary=[48000,59000,99000,13000,78000,45000,31000,17000,39000,37000,93000,77000,33000,28000,4000,54000,67000,6000,1000,11000]
obj.average(salary)

41111.11111111111

In [26]:
#solution 2
class Solution(object):
    def average(self, salary):
        salary.sort()
        salary.pop(0)
        salary.pop(len(salary)-1)
        res=sum(salary)/float(len(salary))
        return res
        
obj=Solution()
salary=[48000,59000,99000,13000,78000,45000,31000,17000,39000,37000,93000,77000,33000,28000,4000,54000,67000,6000,1000,11000]
obj.average(salary)

41111.11111111111

In [27]:
#solution 3
class Solution(object):
    def average(self, salary):
        salary.remove(max(salary))
        salary.remove(min(salary))
        return (sum(salary)/float(len(salary)))
       
obj=Solution()
salary=[48000,59000,99000,13000,78000,45000,31000,17000,39000,37000,93000,77000,33000,28000,4000,54000,67000,6000,1000,11000]
obj.average(salary)

41111.11111111111